@using EmployeeManagement.Models
@model IEnumerable<Employee>
@{
    ViewBag.Title = "Read";
}
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Department ID</td>
            <td>Qualification ID</td>
            <td>Position ID</td>
            <td>Supervisor</td>
            <td>Hiredate</td>
            <td>Salary</td>
            <td>Commission</td>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.EmpId</td>
                <td>@e.EmpFname</td>
                <td>@e.EmpLname</td>
                <td>@e.DeptId</td>
                <td>@e.QualId</td>
                <td>@e.PositionId</td>
                <td>@e.Supervisor</td>
                <td>@e.Hiredate</td>
                <td>@e.Salary</td>
                <td>@e.Commission</td>
                <td>@Html.ActionLink("Edit", "Edit", "Employee", new {id=e.EmpId  }, null)</td>
            </tr>
        }
    </tbody>
</table>